html, body
    margin: 0
    padding: 0

.flex
    display: flex

.justify-content-space-between
    justify-content: space-between

.margin-top-1
    margin-top: 1rem

.container
    padding: 1rem
.table
    width: 100%

.mat-mdc-header-cell
    background: #da86a9 !important
