html, body
    margin: 0
    padding: 0

.flex
    display: flex

.align-items-center
    align-items: center
    
.justify-content-space-between
    justify-content: space-between

.margin-top-1
    margin-top: 1rem

.container
    padding: 1rem

.table-container
    padding: 0 1rem 1rem 1rem

.full-width
    width: 100%

.mat-mdc-header-cell
    background: #da86a9 !important
